* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1e0f21;
    color: #fff;
    overflow-x: hidden;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.mini {
    font-size: 17px;
    opacity: 0.7;
    letter-spacing: 0.5px;
}



/* Header */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Disney+/S1_main.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



/* Main */
.main_visual {
    width: 100%;
    height: 100%;
}

.main_visual .logo img {
    width: 180px;
}

.main_visual .logo {
    position: absolute;
    top: 25vh;
    left: 10vh;
    margin-bottom: 2vw;
    width: 100%;
    height: auto;
}

.main_visual h1 {
    position: absolute;
    top: 38vh;
    left: 10vh;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.main_visual .main_content .note {
    position: absolute;
    font-size: 11px;
    opacity: 0.7;
    top: 71vh;
    left: 10vh;
}


/* grid_list 공통 */
.main_visual .price {
    display: flex;
}

.main_visual .price h3 {
    position: absolute;
    font-size: 26px;
    font-weight: 700;
}

.main_visual .price .small {
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.7;
}

.main_visual .price a {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;

    padding: 13px 15px 13px 15px;
    background: #016cf9;
    color: #fff;
    width: 270px;
    height: 60px;
    border-radius: 4px;
}


/* subscription */
.main_visual .subscription h3 {
    top: 53vh;
    left: 10vh;
}

.main_visual .subscription .small {
    top: 59vh;
    left: 10vh;
}

.main_visual .subscription a {
    top: 63vh;
    left: 10vh;
}


/* discount */
.main_visual .discount h3 {
    top: 53vh;
    left: 40vh;
}

.main_visual .discount .small {
    top: 59vh;
    left: 40vh;
}

.main_visual .discount a {
    top: 63vh;
    left: 40vh;
}



/* Benefits */
.Benefits {
    padding: 100px 0;
    top: 120vh;
    text-align: left;
    justify-content: center;
    width: 1900px;
}

.Benefits .introd_box {
    display: flex;
    padding: 50px 0;
    width: 100%;
    justify-content: center;
}

.Benefits .ad {
    margin-left: 30px;
}

.Benefits .introd_box h4 {
    font-size: 23px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px 0
}

.Benefits .introd_box p {
    font-size: 17px;
    opacity: 0.7;
    letter-spacing: 0.5px;
}



/* Movie */
.moives {
    padding: 100px 0;
    justify-content: center;
    width: 1900px;
}

.movie_introd {
    display: flex;
    padding: 50px 0;
    justify-content: center;
}

.movies h2 {}

.movies p {}

.movies .txt_left {
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
    height: 200px;
    transform: translateY(250px);
}

.movies .image_right {
    max-width: 50%;
}




/* 1st Grid, 2nd Grid */
.grid {
    padding: 100px 0;
    width: 1900px;
}

.grid h2 {
    text-align: center;
}

.grid p {
    margin-bottom: 30px;
    text-align: center;
}

.grid-container {
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-container li {
    align-items: center;
    box-sizing: border-box;
    list-style: none;
}

.grid-container img {
    width: 540px;
    height: 320px;
}



/* Device */
.Device {
    padding: 100px 0;
    width: 1900px;
}

.device_introd {
    padding: 50px 0;
    width: 100%;
    justify-content: center;
}

.device h2 {
    text-align: center;
}

.device p {
    margin-bottom: 30px;
    text-align: center;
}

.grid_watch {
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.grid_watch li {
    box-sizing: border-box;
    list-style: none;
}

.grid_watch img {
    width: 400px;
    height: 200px;
}

.grid_watch h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-align: center;
}

.grid_watch p {
    font-size: 17px;
    opacity: 0.7;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    text-align: center;
}