@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.header {
    line-height: 100px;
}

.header .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header nav {
    margin: 0 auto;
}

.header nav>ul {
    display: flex;
    gap: 50px;
    font-size: 15px;
}

.header .service {
    display: flex;
    gap: 20px;
    font-size: 11px;
}

.header .service_tab {
    display: flex;
    gap: 20px;
    font-size: 11px;
}

#searchForm input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #ababab;
    padding: 5px 0;
}

#searchForm button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 13px;
}






/* 1page */


.main_01 figure {
    display: flex;
    margin: 0 auto;
}

.main_01 .btn_scrolldown {
    position: absolute;
    bottom: 0;
    left: 47%;
    display: block;
    height: 167px;
}

.main_01 .btn_scrolldown a {
    text-decoration: none;
    color: #969696;
    cursor: pointer;
    border: none;
}

.main_01 .cloud01 {
    position: absolute;
    top: 30%;
    left: 30%;
    display: block;
}

.main_01 .cloud01 img {
    height: 85px;
}

.main_01 .cloud02 {
    position: absolute;
    top: 44%;
    left: 40%;
    display: block;
}

.main_01 .cloud02 img {
    height: 40px;
}

.main_01 .cloud03 {
    position: absolute;
    top: 22%;
    left: 70%;
    display: block;
}

.main_01 .cloud03 img {
    height: 150px;
}

.main_01 .cloud04 {
    position: absolute;
    top: 34%;
    left: 64%;
    display: block;
}

.main_01 .cloud04 img {
    height: 70px;
}

.main_01 .cloud05 {
    position: absolute;
    top: 19%;
    left: 48%;
    display: block;
}

.main_01 .cloud05 img {
    height: 140px;
}

.cloud03 {
    animation: motion 1s linear 1s infinite alternate;
    margin-top: 0;
}

.cloud05 {
    animation: motion 1s linear 0s infinite alternate;
    margin-top: 0;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
}



/* 2page */

.main_visual02 {
    background: #f1f1f1;
    padding: 50px 0;
    padding-bottom: 50px;
}

.main_visual02 h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.main_visual02 p {
    line-height: 28px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.main_visual02 .main_02 i {
    font-size: 30px;
    font-weight: 100;
    color: #ababab;
}

.main_visual02 .mainImg {
    width: 686px;
    height: 274px;
    margin: 0 auto;
    position: relative;
}

/* .main_visual02 .mainImg::before {
    content: "";
    display: table;
}
.main_visual02 .mainImg::after {
    content: "";
    display: block;
} */

.main_visual02 .mainImg li {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 150px;
}

.main_visual02 .mainImg li.snd {
    left: 246px;
}

.main_visual02 .mainImg li.trd {
    left: 496px;
}