/* Header */
.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header {
    line-height: 100px;
}

.header .container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.header nav {
    margin: 0 auto;
}

.header nav>ul a {
    display: block;
}

.header nav>ul {
    display: flex;
    gap: 50px;
    font-size: 13px;
    font-weight: 600;
}



/* Main */
.main {
    position: relative;
}

/* 양쪽 버튼 커스텀 */
.main .swiper-button-prev,
.main .swiper-button-next {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 50%;
    z-index: 1;
    color: #fff;
}

.main .swiper-button-prev {
    left: 25%;
    margin-left: -450px;
}

.main .swiper-button-next {
    right: 25%;
    margin-right: -450px;
}

.main .swiper-button-prev i,
.main .swiper-button-next i {
    font-size: 40px;
}

.main .swiper-button-prev::after,
.main .swiper-button-next::after {
    display: none;
}

/* 슬라이드 밑 버튼 */
.main .swiper-pagination {
    bottom: 30px;
    z-index: 1;
}

.main .swiper-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: black;
    border: 0px solid white;
    border-radius: 0px;
}

.main .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.main .swiper-pagination .swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background-color: white;
    border: 0px solid black;
    border-radius: 0px;
}



/* MD's Pick */



/* Hot Issue Grid*/
.grid {
    padding: 100px 0;
    width: 1200px;
    margin: 0 auto;
}

.grid h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 50px;
}

.grid-container {
    grid-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-container li {
    align-items: center;
    box-sizing: border-box;
    list-style: none;
}

.grid-container img {
    width: 360px;
    height: 240px;
}



/* Customer Service */



/* Mid Visual */
.second img {
    width: 100%;
}


/* MD's Pick */



/* Layer Grid */



/* Footer */