@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}



/* Header */
.header {
    position: absolute;
    width: 100%;
    line-height: 100px;
    z-index: 1;
}

.header .container {
    width: 1600px;
    margin: 0 auto;
}

.header .container nav {
    display: flex;
    justify-content: space-between;
}

.header nav>ul>li {
    position: relative;
}

.header .container .left,
.header .container .right {
    display: flex;
    gap: 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.header .container .country {
    display: flex;
    gap: 10px;
}

.header .container .right .icon {
    font-size: 18px;
}

.right img {
    width: 14px;
}



/* 다단메뉴 */
nav>ul>li>a {
    display: block;
    padding: 0 25px;
}

nav>ul ul a {
    display: block;
    line-height: 40px;
}

nav>ul>li {
    position: relative;
}

nav>ul>li ul {
    position: absolute;
    inset: 90px auto auto 50%;
    z-index: 999;
    visibility: hidden;
    width: 150%;
    transform: translateX(-50%);
    background: #fff;
    border: 3px solid #de4434;
    opacity: 0;
    text-align: center;
}

nav>ul>li:hover ul {
    inset: 80px auto auto 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

nav>ul>li>ul>li:hover {
    background: #de4434;
    color: #fff;
    transition: 0.5s;
}

nav>ul>li ul li {
    position: relative;
    background: #fff;
}



/* Main */
.main_visual {
    height: 100vh;
}



/* Section01 */