/* header */


.header {
    line-height: 100px;
}

.header .container {
    width: 1600px;
    margin: 0 auto;
}

.header h1 img {
    width: 180px;
}

.header .container nav {
    display: flex;
    justify-content: space-between;
}

.header .container .menu01 {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    width: 300px;
    padding-left: 86px;
}

.header .container .menu02 {
    display: flex;
    font-size: 17px;
    width: 300px;
    padding-right: 16px
}

.header nav>ul>li {
    position: relative;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tip {
    position: absolute;
    width: 200px;
    height: 40px;
    background-color: #333;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    animation: motion 0.6s linear infinite alternate;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 2px;
    }
}

.tooltip .tip::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}



#scroll_menu.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.5s;
}





/* 다단메뉴 */


nav>ul>li>a {
    display: block;
    padding: 0 25px;
}

nav>ul ul a {
    display: block;
    line-height: 40px;
}

nav>ul>li {
    position: relative;
}

nav>ul>li ul {
    position: absolute;
    inset: 90px auto auto 50%;
    z-index: 999;
    visibility: hidden;
    width: 150%;
    transform: translateX(-50%);
    background: #fff;
    border: 3px solid #de4434;
    opacity: 0;
    text-align: center;
}

nav>ul>li:hover ul {
    inset: 80px auto auto 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

nav>ul>li>ul>li:hover {
    background: #de4434;
    color: #fff;
    transition: 0.5s;
}

nav>ul>li ul li {
    position: relative;
    background: #fff;
}





/* main */


.slide02 {
    display: block;
    background-color: #f4cac1;
    margin-bottom: 80px;
    font-size: 11px;
    height: 30px;
    letter-spacing: 1px;
}

.slide02 .slide_text {
    line-height: 2.8;
}





/* 1page */


.main_visual01 .new01 {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1400px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.main_visual01 h2 {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.main_visual01 p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
}

.main_visual01 span {
    font-size: 10px;
    color: #9e9e9e
}

.main_visual01 .bold {
    font-size: 13px;
    font-weight: 500;
    color: #de4434;
    margin-top: 10px;
    margin-bottom: 50px;
}

.main_visual01 .image {
    position: relative;
}

.main_visual01 .image:hover .it {
    display: block;
    cursor: pointer;
}

.main_visual01 .it {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}





/* 2page */


.main_visual02 .line01 {
    border-top: 1px solid #f4cac1;
    width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
}

.main_visual02 .new02 {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.main_visual02 .new02 figure {
    margin: 0 15px;
}

.main_visual02 h2 {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main_visual02 p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
}

.main_visual02 span {
    font-size: 10px;
    color: #9e9e9e
}

.main_visual02 .bold {
    font-size: 13px;
    font-weight: 500;
    color: #de4434;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main_visual02 .image {
    position: relative;
}

.main_visual02 .image:hover .it {
    display: block;
    cursor: pointer;
}

.main_visual02 .it {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.shop_all a {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #de4434;
    color: #fff;
    border-radius: 15px;
    padding: 14px 17px 14px 17px;
    margin-top: 40px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
}

.shop_all a:hover {
    background: #f4cac1;
}





/* 3page */

.main_visual03 {
    padding: 50px 0;
}

.main_visual03 img {
    width: 1400px;
}

.main_visual03 .new03 {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    width: 1400px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.main_visual03 h2 {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.star {
    text-align: center;
    margin-top: 15px;
    color: #ffff00;
}

.content {
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
}

.go_shop a {
    display: inline-block;
    margin: 25px 0 0 0;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #de4434;
    color: #fff;
    border-radius: 15px;
    padding: 11px 13px 11px 13px;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
}

.go_shop a:hover {
    background: #f4cac1;
}





/* footer */


#footer {
    margin: 0 auto;
    background: #B7C5A1;
}

#footer .inner {
    font-size: 10px;
    position: relative;
    display: inline-block;
}



#footer .bottom {
    display: flex;
    gap: 30px;
    line-height: 3;
}

#footer .info {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 100px;
}

#footer .left {
    float: left;
}



#footer .right {
    float: right;
}

#footer .service {
    display: flex;
    gap: 15px;
    font-size: 22px;
    padding-top: 40px;
    transform: translateX(800%);
}

#footer .service .icon01:hover {
    color: #fff;
}

#footer .service .icon02:hover {
    color: #fff;
}

#footer .service .icon03:hover {
    color: #fff;
}



.qna {
    position: fixed;
    inset: auto 13px 75px auto;
}

.qna img {
    width: 85px;
}

.toTop {
    position: fixed;
    inset: auto 25px 25px auto;
}

.toTop i {
    padding: 10px;
    background-color: #de4434;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.toTop i:hover {
    background: #f4cac1;
}











/* 반응형 */


@media (max-width: 768px) {

    /* header */

    .header {
        line-height: 100px;
    }

    .header .container {
        width: auto;
        margin: 0 auto;
    }

    .header h1 img {
        width: 160px;
    }

    .header .container nav {
        display: flex;
        justify-content: space-between;
    }

    .header .container .menu01 {
        display: none;
        font-size: 13px;
        font-weight: 500;
        width: auto;
        padding-left: 86px;
    }

    .header .container .menu02 {
        display: flex;
        font-size: 17px;
        width: auto;
        padding-right: 16px
    }

    .header nav>ul>li {
        position: relative;
    }



    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tip {
        position: absolute;
        width: 200px;
        height: 40px;
        background-color: #333;
        color: #fff;
        font-size: 10px;
        text-align: center;
        border-radius: 6px;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        line-height: 40px;
        animation: motion 0.6s linear infinite alternate;
    }

    @keyframes motion {
        0% {
            margin-top: 0px;
        }

        100% {
            margin-top: 2px;
        }
    }

    .tooltip .tip::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 100%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
    }



    #scroll_menu.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        transition: top 0.5s;
    }





    /* 다단메뉴 */


    nav>ul>li>a {
        display: block;
        padding: 0 25px;
    }

    nav>ul ul a {
        display: block;
        line-height: 40px;
    }

    nav>ul>li {
        position: relative;
    }

    nav>ul>li ul {
        position: absolute;
        inset: 90px auto auto 50%;
        z-index: 999;
        visibility: hidden;
        width: 150%;
        transform: translateX(-50%);
        background: #fff;
        border: 3px solid #de4434;
        opacity: 0;
        text-align: center;
    }

    nav>ul>li:hover ul {
        inset: 80px auto auto 50%;
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
    }

    nav>ul>li>ul>li:hover {
        background: #de4434;
        color: #fff;
        transition: 0.5s;
    }

    nav>ul>li ul li {
        position: relative;
        background: #fff;
    }





    /* 마퀴에서 슬라이드변경 */


    .slide02 {
        display: block;
        background-color: #f4cac1;
        margin-bottom: 80px;
        font-size: 10px;
        height: 30px;
        letter-spacing: 1px;
        overflow: hidden;
    }

    .slide02 .slide_text {
        line-height: normal;
        /* line-height 값을 주니까 글자가 짤림 */
    }





    /* 1page */


    .main_visual01 .new01 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 20px;
        width: auto;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
    }

    .main_visual01 h2 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }

    .main_visual01 p {
        font-size: 11px;
        margin-top: 15px;
    }

    .main_visual01 span {
        font-size: 8px;
        color: #9e9e9e
    }

    .main_visual01 .bold {
        font-size: 11px;
        color: #de4434;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .main_visual01 .image {
        position: relative;
    }

    .main_visual01 .image:hover .it {
        display: block;
        cursor: pointer;
    }

    .main_visual01 .it {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }





    /* 2page */


    .main_visual02 .line01 {
        border-top: 1px solid #f4cac1;
        width: 1400px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .main_visual02 .new02 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
    }

    .main_visual02 .new02 figure {
        margin: 0 15px;
    }

    .main_visual02 h2 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .main_visual02 p {
        font-size: 10px;
        margin-top: 15px;
    }

    .main_visual02 span {
        font-size: 8px;
        color: #9e9e9e
    }

    .main_visual02 .bold {
        font-size: 10px;
        color: #de4434;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .main_visual02 .image {
        position: relative;
    }

    .main_visual02 .image:hover .it {
        display: block;
        cursor: pointer;
    }

    .main_visual02 .it {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .shop_all a {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
        background-color: #de4434;
        color: #fff;
        border-radius: 15px;
        padding: 14px 17px 14px 17px;
        margin-top: 40px;
    }

    .shop_all a:hover {
        background: #f4cac1;
    }





    /* 3page */

    .main_visual03 {
        padding: 50px 0;
    }

    .main_visual03 img {
        width: auto;
    }

    .main_visual03 .new03 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 20px;
        width: auto;
        margin: 0 20px;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .main_visual03 h2 {
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }

    .star {
        text-align: center;
        margin-top: 15px;
        color: #ffff00;
    }

    .content {
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .go_shop a {
        display: inline-block;
        font-size: 11px;
        border-radius: 5px;
        background-color: #de4434;
        color: #fff;
        border-radius: 15px;
        padding: 10px 12px 10px 12px;
        text-align: center;
    }

    .go_shop a:hover {
        background: #f4cac1;
    }





    /* footer */


    #footer {
        margin: 0 auto;
        background: #B7C5A1;
    }

    #footer .inner {
        font-size: 11px;
        position: relative;
        display: inline-block;
    }



    #footer .bottom {
        display: flex;
        gap: 20px;
    }

    #footer .info {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: auto;
        line-height: 2;
    }

    #footer .left,
    #footer .right {
        float: left;
    }


    #footer .service {
        display: flex;
        gap: 15px;
        font-size: 20px;

        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        margin-left: 50%;
    }







    #footer .service .icon01:hover {
        color: #fff;
    }

    #footer .service .icon02:hover {
        color: #fff;
    }

    #footer .service .icon03:hover {
        color: #fff;
    }

    .qna {
        position: fixed;
        inset: auto 13px 75px auto;
    }

    .qna img {
        width: 85px;
    }

    .toTop {
        position: fixed;
        inset: auto 25px 25px auto;
    }

    .toTop i {
        padding: 10px;
        background-color: #de4434;
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .toTop i:hover {
        background: #f4cac1;
    }

}