span.blue {
    color: #0D4795;
}



/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1800px;
    /* padding: 0 75px; */
    background: rgba(0, 0, 0, 0.3);
    color: white;
    line-height: 100px;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
    z-index: 999;
}

.header .container {
    display: flex;
    width: 1800px;
    justify-content: space-between;
    margin: 0 auto;
}

.header:hover {
    background: white;
    color: #444444;
}

.header.on {
    background: white;
    color: #444444;
    line-height: 70px;
    border-bottom: 1px solid white;
}

.header h1 {
    margin: 0 0 0 20px;
    font-size: 0;
}

.header h1 a {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 32px;
    background: url(../img/kcc/logo_2w.png);
}

.header:hover h1 a {
    background: url(../img/kcc/logo.png);
    width: 140px;
    height: 32px;
}

.header.on h1 a {
    background: url(../img/kcc/logo.png);
    width: 140px;
    height: 32px;
}

.header .Gnb {
    float: left;
    margin: 0 0 0 50px;
}

.header .top_service {
    float: right;
    margin: 0 0 0 30px;
}

.header .top_service .service {
    display: flex;
    gap: 15px;
    margin: 0 15px 0 0;
    float: left;
}

.header .top_service .service li {
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
}

.header .top_service .lang {
    position: relative;
    float: left;
    cursor: pointer;
    margin: 0 20px 0 0;
}

.header .top_service .lang:hover {
    color: #0d4795;
}

.header .top_service .lang .arrow {
    vertical-align: 0.04em;
    font-size: 13px;
}

.header .top_service .lang.on .arrow {
    transform: rotate(180deg);
}

.header .top_service .lang .lang_box {
    display: none;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.7;
    border: 1px solid transparent;
    background: white;
    color: black;
    padding: 10px 30px;
}

.header .top_service .lang.on .lang_box {
    display: block;
}

.header .Gnb>ul a {
    display: block;
}

.header .Gnb>ul>li>a {
    position: relative;
    display: block;
    padding: 0 40px;
    font-size: 18px;
}

.header .Gnb>ul>li {
    float: left;
}

.header .Gnb>ul>li>a::after {
    content: "";
    position: absolute;
    left: 35px;
    right: 100%;
    bottom: -1px;
    height: 4px;
    background: #0d4795;
    transition: 0.3s;
}

.header .Gnb>ul>li>a:hover::after {
    right: 35px;
}



/* MainVisual */
.main_visual {
    position: relative;
}

.main_visual .main_slider figure {
    position: relative;
    height: 100vh;
}

.main_visual .main_slider .main01 {
    background: url(../img/kcc/main02.jpg) no-repeat center center/cover;
}

.main_visual .main_slider .main02 {
    background: url(../img/kcc/main03.jpg) no-repeat center center/cover;
}

.main_visual .main_slider .main03 {
    background: url(../img/kcc/main04.jpg) no-repeat center center/cover;
}

.main_visual .main_slider .main04 {
    background: url(../img/kcc/main01.jpg) no-repeat center center/cover;
}

.main_visual .main_slider .inner {
    position: absolute;
    inset: 50% auto auto 30%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.5px;
}

.main_visual .main_slider figure h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 30px 0;
    transform: translateY(100px);
    opacity: 0;
}

.main_visual .main_slider figure.on h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .main_slider figure p {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
    transform: translateY(100px);
    opacity: 0;
}

.main_visual .main_slider figure.on p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .num {
    position: absolute;
    bottom: 250px;
    left: 50%;
    margin: 0 0 0 -700px;
    color: white;
    font-size: 28px;
}

.main_visual .num span {
    font-size: 18px;
    color: #ddd;
}

.main_visual .slide_dots {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 700px;
    transform: translate(-100%, -50%);
    color: white;
    text-align: right;
}

.main_visual .slide_dots li {
    margin: 0 0 10px 0;
    cursor: pointer;
}

.main_visual .slide_dots li span {
    font-size: 0;
}

.main_visual .slide_dots li.on span {
    font-size: 15px;
    font-weight: 300;
}

.main_visual .slide_dots li::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    margin: 0 0 0 15px;
    vertical-align: -0.2em;
}

.main_visual .slide_dots li.on::after {
    background: white;
}

.main_visual .slide_handler button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0;
}

.main_visual .slide_handler button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    border-top: 1px solid #f9f9f9;
}

.main_visual .slide_handler button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 0;
    border-top: 1px solid #f9f9f9;
}

.main_visual .slide_handler button:first-child::after {
    left: 0;
    transform: rotate(-45deg);
    transform-origin: left top;
}

.main_visual .slide_handler button:last-child::after {
    right: 0;
    transform: rotate(45deg);
    transform-origin: right top;
}

.main_visual .slide_handler button:first-child {
    margin: 0 0 0 -800px;
}

.main_visual .slide_handler button:last-child {
    margin: 0 0 0 800px;
}



/* Business */
.business {
    width: 100%;
    padding: 170px 210px 200px 210px;
    margin: 0 auto;
    letter-spacing: 0.6px;
    text-align: center;
}

.business h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 22px;
}

.business p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 55px;
    line-height: 1.5;
}

.business .performance {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.business .performance figure {
    width: calc((100% / 3)-1200px);
}

.business .performance .image {
    overflow: hidden;
    margin: 0 0 40px 0;
}

.business .performance figure img {
    transition: 0.4s;
}

.business .performance figure:hover img {
    transform: scale(1.2);
}

.business .performance .des {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.business .performance .des::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
    width: 3px;
    height: 40px;
    background: #0d4795;
}

.business .performance p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0 0 20px 0;
}



/* Field */
.field {
    padding: 100px 300px 166px 300px;
    position: relative;
    background: url(../img/kcc/bg-field.png) no-repeat center center/cover;
}

.field h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}

.field p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 44px;
    text-align: center;
}

.field .slider_wrap {
    width: 840px;
    margin: 0 auto;
}

.field .slider_wrap .architecture {
    background: url(../img/kcc/bg01.png) no-repeat center center/cover;
}

.field .slider_wrap .civil {
    background: url(../img/kcc/bg02.png) no-repeat center center/cover;
    ;
}

.field .slider_wrap .house {
    background: url(../img/kcc/bg03.png) no-repeat center center/cover;
}

.field .slider_wrap .plant {
    background: url(../img/kcc/bg04.png) no-repeat center center/cover;
}

.slider_wrap figure {
    position: relative;
    height: 530px;
}

.field .slider_wrap .inner {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.field .slider_wrap figure .inner h3 {
    font-size: 35px;
    color: #0D4795;
    margin-bottom: 33px;
}

.field .slider_wrap figure .inner p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 77px;
    color: #666;
    line-height: 1.7;
}

.field .slider_wrap figure .inner a {
    display: block;
    font-size: 13px;
    font-weight: 300;
    padding: 11px 23px 11px 23px;
    text-align: center;
    border: 1px solid #0D4795;
    color: #0D4795;
    width: 120px;
    height: 40px;
    line-height: 16px;
}

.arrows i {
    position: absolute;
    font-size: 70px;
    inset: 50% 0 0 50%;
    transform: translate(-50% -50%);
    cursor: pointer;
}

.arrows i:nth-child(1) {
    margin: 0 0 0 -500px;
}

.arrows i:nth-child(2) {
    margin: 0 0 0 500px;
}



/* Innovation */
.innovation {
    width: 100%;
    background-color: #F5F7FA;
    padding: 170px 370px 236px 370px;
    margin: 0 auto;
    letter-spacing: 0.6px;
    text-align: center;
    justify-content: center;
}

.innovation h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 22px;
}

.innovation p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 55px;
    line-height: 1.5;
}

.innovation .tab_menu {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 55px;
    font-size: 15px;
}

.tab_menu>div {
    flex: 1;
}

.tab_menu>div>a {
    display: block;
    line-height: 70px;
}

.tab_menu>div~div {
    border-left: 1px solid #e5e7eb;
}

.tab_content {
    position: relative;
}

.tab_content>div {
    overflow: hidden;
    height: 0;
    visibility: hidden;
}

.tab_content>div.on {
    visibility: visible;
    height: auto;
    overflow: visible;
}



/* Recruit */
.recruit {
    background: url(../img/kcc/recruit.png) no-repeat center center/cover;
    height: 310px;
    color: white;
    letter-spacing: 0.6px;
    text-align: left;
    padding: 79px 95px 80px 94px;
}

.recruit h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.recruit p {
    line-height: 48px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
}

.recruit span.blue {
    font-weight: 700;
}

.recruit a {
    display: block;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid white;
    color: white;
    width: 120px;
    height: 40px;
    padding: 12px 24px 12px 24px;
    text-align: center;
}



/* News */
.news {
    width: 100%;
    background-color: #F5F7FA;
    padding: 170px 370px 247px 370px;
    margin: 0 auto;
    letter-spacing: 0.6px;
    text-align: center;
}

.news h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 22px;
}

.news p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 55px;
}

.news .row {
    position: relative;
    display: inline-block;
    display: flex;
    gap: 60px;
}

table.news_table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    height: 300px;
}

table.news_table thead th {
    padding: 10px;
    font-weight: 500;
    color: #0D4795;
    border-bottom: 3px solid #0D4795;
}

table.news_table td {
    width: 440px;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
}

table.news_table tbody th {
    padding: 10px;
    font-weight: 500;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
}



/* Creative */
.creative {
    background: url(../img/kcc/creative.png) no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
    padding: 250px 0 250px 0;
    letter-spacing: 0.6px;
    text-align: center;
    margin: 0 auto;
}

.creative h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.creative p {
    font-size: 15px;
    font-weight: 100;
    font-weight: 300;
}



/* Footer */
#footer {
    width: 100%;
    background: black;
    color: #ababab;
    letter-spacing: 0.6px;
}

#footer .inner {
    display: flex;
    width: 100%;
}

#footer .left {
    padding: 66px 500px 66px 120px;
    line-height: 2.5;
    font-size: 12px;
    font-weight: 100;
    float: left;
}

#footer .raw {
    padding-bottom: 30px;
}

#footer .right {
    padding: 55px 120px 0 500px;
    font-size: 14px;
    font-weight: 700;
    float: right;
}

#footer select {
    position: relative;
    text-transform: uppercase;
    background: transparent;
    color: #ababab;
    padding: 15px 15px;
    border: none;
    border-bottom: 1px solid #ababab;
    background: none;
}

#footer .right option {
    color: #ababab;
    background: black;
}



/* Totop */
.toTop {
    position: fixed;
    inset: auto 10px 10px auto;
}

.toTop i {
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 35px;
    cursor: pointer;
}