/* .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.inner {
    width: 1200px;
    margin: 0 auto;
} */


span.blue {
    color: #0D4795;
}



/* Header */
.header {
    position: absolute;
    width: 100%;
    line-height: 100px;
    z-index: 1;
}

.header .container {
    display: flex;
    width: 1800px;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
}

.header nav>ul a {
    display: block;
}

.header nav>ul {
    display: flex;
    gap: 50px;
    font-size: 17px;
    font-weight: 400;
}

.header .service {
    display: flex;
    gap: 15px;
    font-size: 13px;
    font-weight: 300;
}



/* MainVisual */
.main_visual01 {
    position: relative;
}

.main_visual01 .main_slider figure {
    position: relative;
    height: 100vh;
}

.main_visual01 .main_slider .main01 {
    background: url(../img/kcc/main02.jpg) no-repeat center center/cover;
}

.main_visual01 .main_slider .main02 {
    background: url(../img/kcc/main03.jpg) no-repeat center center/cover;
}

.main_visual01 .main_slider .main03 {
    background: url(../img/kcc/main04.jpg) no-repeat center center/cover;
}

.main_visual01 .main_slider .main04 {
    background: url(../img/kcc/main01.jpg) no-repeat center center/cover;
}

.main_visual01 .main_slider .inner {
    position: absolute;
    inset: 45% auto auto 30%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.5px;
}

.main_visual01 .main_slider .inner h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.main_visual01 .main_slider .inner p {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
}

.main_visual01 .info_wrap {
    position: absolute;
    width: calc((50% - 1200px)/2 + 1200px);
    height: 60px;

    background: #0d4795;
    color: white;
    box-sizing: border-box;
    bottom: 0;
    right: 0;

}

.main_visual01 .info_wrap .txt {
    position: absolute;
    font-size: 15px;
    inset: 40% 0 0 80%;
    transform: translate(-50% -50%);
}

.mainArrow i {
    position: absolute;
    font-size: 15px;
    inset: 40% 0 0 84%;
    transform: translate(-50% -50%);
    cursor: pointer;
}

.mainArrow i:nth-child(1) {
    margin: 0 0 0 -80px;
}

.mainArrow i:nth-child(2) {
    margin: 0 0 0 80px;
}



/* Business */
.main_visual02 {
    background: #f1f1f1;
    padding: 200px 0;
    padding-bottom: 120px;
}

.main_visual02 h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

.main_visual02 p {
    line-height: 48px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 35px;
}

.main_visual02 .item01 {
    display: flex;
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.main_visual02 .item01 p {
    font-size: 15px;
    margin-bottom: 120px;
}

.image {
    position: relative;
    margin: 0 auto;
}

.image:hover .aa-1 {
    display: block;
    cursor: pointer;
}

.aa-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}



/* Field */
.main_visual03 {
    position: relative;
    box-sizing: border-box;
    padding: 200px 0;
    padding-bottom: 200px;
}

.main_visual03 h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding: 0 0 70px 0;
    line-height: 1;
}

.main_visual03 .slider_wrap {
    position: relative;
    width: 1200px;
    height: 500px;
    z-index: 1;
    margin: 0 auto;
}

.slider_wrap figure {
    position: relative;
    height: 500px;
    margin: 0 auto;
}

.main_visual03 .slider_wrap .image01 {
    background: url(../img/kcc/bg01.png) no-repeat center center/cover;
}

.main_visual03 .slider_wrap .image02 {
    background: url(../img/kcc/bg02.png) no-repeat center center/cover;
}

.main_visual03 .slider_wrap .image03 {
    background: url(../img/kcc/bg03.png) no-repeat center center/cover;
}

.main_visual03 .slider_wrap .image04 {
    background: url(../img/kcc/bg04.png) no-repeat center center/cover;
}

.main_visual03 .slider_wrap .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-shadow: 0 0 2px #fff;
    justify-content: center;
}

.main_visual03 .slider_wrap figure .inner h2 {
    font-size: 35px;
    font-weight: 100;
    color: #0c4ca3;
    line-height: 1;
}

.main_visual03 .slider_wrap figure .inner p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 120px;
    width: 250px;
    color: #666;
    line-height: 25px;
}

.main_visual03 .slider_wrap figure .inner a {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px 0;
    border: 1px solid #333;
    color: #0c4ca3;
    border-color: #0c4ca3;
}

.main_visual03 .btn_line {
    font-size: 14px;
    line-height: 42px;
    min-width: 110px;
    height: 44px;
    color: #000;
    border: 1px solid #777;
    background-color: #fff;
    text-align: center;
    padding: 0 20px;
}

.arrows03 i {
    position: absolute;
    font-size: 80px;
    inset: 50% 0 0 50%;
    transform: translate(-50% -50%);
    color: #666;
}

.arrows03 i:nth-child(1) {
    margin: 0 0 0 -700px;
}

.arrows03 i:nth-child(2) {
    margin: 0 0 0 700px;
}



/* Recruit */
.recruit {
    background: url(../img/kcc/recruit.png)no-repeat center center/cover;
    height: 310px;
    color: white;
    letter-spacing: 0.6px;
    text-align: left;
    padding: 79px 95px 80px 94px;
}

.recruit h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.recruit p {
    line-height: 48px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
}

.recruit span.blue {
    font-weight: 700;
}

.recruit a {
    display: block;
    font-size: 12px;
    font-weight: 100;
    border: 1px solid white;
    color: white;
    width: 120px;
    height: 40px;
    padding: 12px 24px 12px 24px;
    text-align: center;
}



/* News */
.news h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 22px;
}

.news p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 55px;
}

.news {
    width: 100%;
    background-color: #F5F7FA;
    padding: 160px 370px 217px 370px;
    margin: 0 auto;
    letter-spacing: 0.6px;
    text-align: center;
}

.news .row {
    position: relative;
    display: inline-block;
    display: flex;
    gap: 60px;
}

table.news_table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    height: 300px;
}

table.news_table thead th {
    padding: 10px;
    font-weight: 500;
    color: #0D4795;
    border-bottom: 3px solid #0D4795;
}

table.news_table td {
    width: 400px;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
}

table.news_table tbody th {
    padding: 10px;
    font-weight: 500;
    border-bottom: 1px solid #e1e1e1;
    font-size: 11px;
}



/* Creative */
.creative {
    background: url(../img/kcc/creative.png) no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
    padding: 250px 0 250px 0;
    letter-spacing: 0.6px;
    text-align: center;
    margin: 0 auto;
}

.creative h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.creative p {
    font-size: 15px;
    font-weight: 100;
    font-weight: 300;
}



/* Footer */
#footer {
    width: 100%;
    background: black;
    color: #ababab;
    letter-spacing: 0.6px;
}

#footer .inner {
    display: flex;
    width: 100%;
}

#footer .left {
    padding: 66px 500px 66px 120px;
    line-height: 2.5;
    font-size: 12px;
    font-weight: 100;
    float: left;
}

#footer .raw {
    padding-bottom: 30px;
}

#footer .right {
    padding: 55px 120px 0 500px;
    font-size: 14px;
    font-weight: 700;
    float: right;
}

#footer select {
    position: relative;
    text-transform: uppercase;
    background: transparent;
    color: #ababab;
    padding: 15px 15px;
    border: none;
    border-bottom: 1px solid #ababab;
    background: none;
}

#footer .right option {
    color: #ababab;
    background: black;
}



/* Totop */
.toTop {
    position: fixed;
    inset: auto 10px 10px auto;
}

.toTop i {
    padding: 10px;
    background: transparent;
    color: #ababab;
    font-size: 35px;
    cursor: pointer;
}