/* topBanner */
.topBanner {
    position: sticky;
    inset: 0 auto auto 0;
    width: 100%;
    padding: 30px 0;
    background: #f1f1f1;
    z-index: 999;
}

.topBanner .inner {
    position: relative;
}

.topBanner p {
    text-align: center;
    font-size: 12px;
}

.topBanner a {
    margin: 0 0 0 10px;
    padding: 5px 15px 7px 15px;
    background: lavender;
    color: #333;
    border-radius: 50%;
}

.topBanner span {
    text-decoration: underline;
    cursor: pointer;
}

.topBanner i {
    position: absolute;
    inset: 0 0 auto auto;
    top: -85%;
    font-size: 18px;
    padding: 8px;
    background: lavender;
    border-radius: 5px;
    cursor: pointer;
}



/* header */
.header {
    line-height: 100px;
}

.header .container {
    width: 1200px;
    margin: 0 auto;
}

.header h1 img {
    width: 300px;
}

.header .container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header .container_2 nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    line-height: 50px;
    border-top: 1px solid #e5e2e0;
    border-bottom: 1px solid #e5e2e0;
}

.header .container_2 .menu02 {
    display: flex;
    gap: 50px;
    font-size: 12px;
}

.header .menu02 .mr:hover {
    color: #f00;
}

.header nav>ul>li {
    position: relative;
}

.header .container_2 nav>ul>li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.header .mbtn {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    padding: 5px;
    line-height: 1;
}



/* Mainvisual */

.main_visual {
    position: relative;
}

.swiper {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}


/* 메인 텍스트 */
.txt_right {
    position: absolute;
    top: 220px;
    right: 190px;
    color: black;
    font-weight: 300;
    text-align: left;
    min-width: 300px;
}

.subT1 {
    color: #888;
    font-size: 20px;
    font-weight: 400;
}

.mainT {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 0 25px 0;
}

.subT2 {
    color: #888;
    font-size: 20px;
    font-weight: 400;
}


/* 슬라이드 밑 버튼 ???????? */
.main_visual .swiper-pagination {
    position: absolute;
    bottom: 20px;
    z-index: 1;
}

.main_visual .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../img/pet/btn02.png");
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.main_visual .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.main_visual .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../img/pet/btn01.png");
}


/* 양쪽 버튼 커스텀 */
.main_visual .swiper-button-prev,
.main_visual .swiper-button-next {
    width: 55px;
    height: 55px;
    border: 2px solid #007042;
    border-radius: 50%;
    top: 250px;
    z-index: 1;
    color: #007042;
}

.main_visual .swiper-button-prev {
    left: 50%;
    margin-left: -520px;
}

.main_visual .swiper-button-next {
    right: 50%;
    margin-right: -520px;
}

.main_visual .swiper-button-prev i {
    transform: translate(-5%, -4%);
}

.main_visual .swiper-button-next i {
    transform: translate(3%, -1%);
}

.main_visual .swiper-button-prev i,
.main_visual .swiper-button-next i {
    font-size: 30px;
}

.main_visual .swiper-button-prev:hover,
.main_visual .swiper-button-next:hover {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
}

.main_visual .swiper-button-prev::after,
.main_visual .swiper-button-next::after {
    display: none;
}





















/* 2page */
.main_visual02 {
    padding: 100px 0;
}

.main_visual02 .new01 {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

.main_visual02 h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.main_visual02 img {
    border-radius: 10% 10% 10% 10%;
    margin-bottom: 15px;
}

.main_visual02 p {
    font-size: 11px;
}

.main_visual02 .bold {
    font-weight: 600;
}

.main_visual02 .image {
    position: relative;
}

.main_visual02 .image:hover .it {
    display: block;
    cursor: pointer;
}

.main_visual02 .it {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}



/* 3page */
.main_visual03 {
    padding: 100px 0;
}

.main_visual03 .new02 {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

.main_visual03 h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.main_visual03 img {
    border-radius: 10% 10% 10% 10%;
    margin-bottom: 15px;
}

.main_visual03 p {
    font-size: 11px;
}

.main_visual03 .bold {
    font-weight: 600;
}

.main_visual03 .image {
    position: relative;
}

.main_visual03 .image:hover .it {
    display: block;
    cursor: pointer;
}

.main_visual03 .it {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}



/* 4page */

.inner {
    width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

.area_set {
    padding: 100px 0;
}

.area_set .title_bold {
    position: relative;
    padding-bottom: 70px;
}

.area_set .title_bold .name {
    position: absolute;
    font-size: 43px;
    font-weight: 700;
    left: 0px;
}

.main_left {
    float: left;
    width: 36.2%;
    left: 50%;
}

.main_left img {
    border: none;
    vertical-align: top;
}

.main_right {
    float: right;
    width: 59%;
    left: -50%;
}

.area_set .main_right {
    padding: 0px 0px 55px 0px;
}

.area_set .main_right h2 {
    padding: 0 0 15px;
    line-height: 27px;
    font-size: 22px;
}

.area_set .main_right .magic {
    padding-bottom: 38px;
    line-height: 20px;
    font-size: 14px;
}

.area_set .main_right .list_product .product_row {
    width: 100%;
    padding: 10px 0;
    display: table;
    border: 1px solid #EDEBE6;
    border-width: 1px 0 1px 0;
}

.area_set .prod {
    width: 22%;
    float: left;
}

.area_set .main_right .desc {
    font-size: 15px;
    float: left;
    padding-top: 5px;
    padding-left: 40px;
    width: 68%;
    font-weight: 300;
}

.area_set .main_right .product_row .name {
    padding-bottom: 6px;
    font-size: 17px;
    padding-left: 10px;
    font-weight: 600;
}

.area_set .main_right .product_row .summ {
    color: #767676;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 14px;
    font-weight: 100;
}

.area_set .list_product ul.price {
    padding: 38px 0 0 10px;
}

.area_set .list_product .price li.sale {
    padding-top: 0;
}

.area_set .list_product .price li {
    list-style: none;
    font-weight: 400;
    font-size: 14px !important;
}

.area_set .list_product {}



/* Footer */