/* header */
.header {
    line-height: 100px;
}

.header .container {
    width: 1200px;
    margin: 0 auto;
}

.header h1 img {
    width: 300px;
}

.header .container h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header .s_container nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    line-height: 50px;
    border-top: 1px solid #e5e2e0;
    border-bottom: 1px solid #e5e2e0;
}

.header .s_container .m_menu {
    display: flex;
    gap: 50px;
    font-size: 13px;
}

.header .m_menu .mr {
    color: #f00;
}

.header nav>ul>li {
    position: relative;
}

.header .s_container nav>ul>li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.header .mbtn {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    padding: 5px;
    line-height: 1;
}




/* Mainvisual */
.main_visual {
    position: relative;
}

.swiper {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}


/* 메인 텍스트 */
.txt_right {
    position: absolute;
    top: 220px;
    right: 20%;
    color: #333;
    font-weight: 300;
    text-align: left;
    min-width: 300px;
}

.subT1 {
    color: #888;
    font-size: 20px;
    font-weight: 400;
}

.mainT {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 0 25px 0;
}

.subT2 {
    color: #888;
    font-size: 20px;
    font-weight: 400;
}


/* 슬라이드 밑 버튼 */
.main_visual .swiper-pagination {
    position: absolute;
    bottom: 20px;
    z-index: 1;
}

.main_visual .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background: #007042;
    width: 10px;
    height: 9px;
    margin-right: 5px;
}

.main_visual .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.main_visual .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../img/pet/btn_slide.png");
}


/* 양쪽 버튼 커스텀 */
.main_visual .swiper-button-prev,
.main_visual .swiper-button-next {
    width: 55px;
    height: 55px;
    border: 2px solid #333;
    border-radius: 50%;
    top: 250px;
    z-index: 1;
    color: #333;
}

.main_visual .swiper-button-prev {
    left: 50%;
    margin-left: -700px;
}

.main_visual .swiper-button-next {
    right: 50%;
    margin-right: -700px;
}

.main_visual .swiper-button-prev i {
    transform: translate(-5%, -4%);
}

.main_visual .swiper-button-next i {
    transform: translate(3%, -1%);
}

.main_visual .swiper-button-prev i,
.main_visual .swiper-button-next i {
    font-size: 30px;
}

.main_visual .swiper-button-prev:hover,
.main_visual .swiper-button-next:hover {
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
}

.main_visual .swiper-button-prev::after,
.main_visual .swiper-button-next::after {
    display: none;
}




/* New */
.New {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 0.4s;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

.new_inner {
    width: 1280px;
}

.New h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.New .swiper-slide {
    position: relative;
    opacity: 0.2;
    transition: opacity 1s;
}

.New .swiper-slide-active {
    opacity: 1;
}

.New img {
    margin-bottom: 10px;
}

.New .name {
    margin-bottom: 10px;
}

.New .bold {
    margin-top: 5px;
    font-weight: 700;
}


/* Cat & Dog */
.Cat .inner,
.Dog .inner {
    padding: 50px 0;
    width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

.area_set .title_bold {
    position: relative;
    padding-bottom: 70px;
}

.area_set .title_bold .title_name {
    position: absolute;
    font-size: 43px;
    font-weight: 700;
    left: 0px;
}

.main_left {
    float: left;
    width: 36.2%;
    left: 50%;
}

.main_left img {
    border: none;
    vertical-align: top;
}

.main_right {
    float: right;
    width: 59%;
    left: -50%;
}

.area_set .main_right {
    padding: 0px 0px 55px 0px;
}

.area_set .main_right h2 {
    padding: 0 0 15px;
    line-height: 27px;
    font-size: 22px;
}

.area_set .main_right .magic {
    padding-bottom: 38px;
    line-height: 20px;
    font-size: 14px;
}


/* Cat & Dog 제품소개 */
.area_set .main_right .list_product .product_row {
    width: 100%;
    padding: 10px 0;
    display: table;
    border: 1px solid #EDEBE6;
    border-width: 1px 0 1px 0;
}

.area_set .prod {
    width: 22%;
    float: left;
}

.area_set .main_right .desc {
    font-size: 15px;
    float: left;
    padding-top: 5px;
    padding-left: 40px;
    width: 68%;
    font-weight: 300;
}

.area_set .main_right .product_row .dname {
    padding-bottom: 6px;
    font-size: 17px;
    padding-left: 10px;
    font-weight: 600;
}

.area_set .main_right .product_row .summ {
    color: #767676;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 14px;
    font-weight: 100;
}

.area_set .list_product ul.price {
    padding: 38px 0 0 10px;
}

.area_set .list_product .price li.sale {
    padding-top: 0;
}

.area_set .list_product .price li {
    list-style: none;
    font-weight: 400;
    font-size: 14px !important;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.title {
    margin: 30px 0;
}

.title .big {
    font-size: 22px;
    font-weight: 700;
}

.title .thin {
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}


/* cat 제품종류 */
.cat_inner {
    display: flex;
    width: 1280px;
    gap: 30px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

.cat_inner img {
    margin-bottom: 10px;
}

.cat_inner .name {
    margin-bottom: 10px;
}

.cat_inner .bold {
    margin-top: 5px;
    font-weight: 700;
}

.cat_inner .image {
    position: relative;
}

.cat_inner .wish {
    position: absolute;
    right: 9px;
    top: 11px;
    z-index: 1;
    cursor: pointer;
}

.cat_inner .wish img {
    width: 25px;
}

.cat_inner .image:hover .it {
    display: block;
    cursor: pointer;
}

.cat_inner .it {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.cat_inner .prod1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 60px 0;
}

.cat_inner .prod2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 60px 0;
}


/* dog 제품종류 */
.dog_inner {
    display: flex;
    width: 1280px;
    gap: 30px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

.dog_inner img {
    margin-bottom: 10px;
}

.dog_inner .name {
    margin-bottom: 10px;
}

.dog_inner .bold {
    margin-top: 5px;
    font-weight: 700;
}

.dog_inner .image {
    position: relative;
}

.dog_inner .wish {
    position: absolute;
    right: 9px;
    top: 11px;
    z-index: 1;
    cursor: pointer;
}

.dog_inner .wish img {
    width: 25px;
}

.dog_inner .image:hover .it {
    display: block;
    cursor: pointer;
}

.dog_inner .it {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.dog_inner .prod1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 60px 0;
}

.dog_inner .prod2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 60px 0;
}




/* Footer */
.footer {
    margin: 150px auto 30px;
    width: 1280px;
}

.footer .inner {
    width: 1024px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 180px 0 50px;
    margin-bottom: 0;
}

.footer .block {
    margin-bottom: 35px;
}

.footer .block .small {
    color: #BEBEBE;
    font-size: 14px;
    padding-bottom: 10px;
}

.footer .block .large {
    font-size: 24px;
    font-weight: 900;
}

.footer .block .manage {
    font-size: 12px;
    line-height: 17px;
    color: #575757;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.footer .block .txt_bold {
    font-size: 14px;
    line-height: 24px;
}

.footer .block .email {
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
}

.footer .info_left {
    float: left;
    font-size: 12px;
    color: #575757;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.footer .info_right {
    float: right;
}




/* sideBtn */
#sideBtn {
    display: inline-block;
    position: fixed;
    inset: auto 25px 25px auto;
}

#sideBtn .show {
    position: fixed;
    opacity: 0.9;
    visibility: visible;

}

#sideBtn .toTop {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 46px;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 10px;
}

#sideBtn .toTop img,
#sideBtn .toMid img,
#sideBtn .toBottom img {
    opacity: 1;
    width: 22px;
}

#sideBtn .toMid {
    text-align: center;
}

#sideBtn .toBottom {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
}










/* 반응형 */

@media (max-width: 768px) {}