:root {
    --dc: #C1EFFF;
    --mc: #ababab;
    --en: #d6d6d4;
}



/* header */
.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #f6f5ef;
    width: 100%;
}

.header .top {
    line-height: 40px;
    font-size: 12px;
    font-weight: 300;
    border-top: 2px solid var(--dc);
    border-bottom: 1px solid var(--mc);
}

.header .top ul>li a {
    display: block;
    padding: 0 10px;
}

.header .top ul {
    display: flex;
}

.header .bb li {
    position: relative;
}

.header .bb li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.4px;
    width: 1px;
    height: 11px;
    background: var(--en);
    transform: translateY(-50%);
}

.header .search {
    font-size: 17px;
}

.header .container {
    justify-content: space-between;
}

.header .bottom {
    line-height: 100px;
}

.header h1 img {
    justify-content: center;
    margin-bottom: 5px;
}

.header nav ul {
    display: flex;
    gap: 40px;
    font-size: 13px;
    font-weight: 400;
}

.header .bb>li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.header nav>ul>li:hover {
    color: #669900;
    text-decoration: underline;
    text-underline-position: under;
}



/* Main */
.main_visual_wrap {
    height: 646px;
    background: #87C9E2;
}

.main_visual_wrap .main_visual_inner {
    max-width: 1130px;
}

.main_visual_inner {
    position: relative;
    box-sizing: border-box;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
}

.main_visual_slogan {
    top: 31%;
}

.main_visual_slogan,
.btn_slogan {
    position: absolute;
    width: 282px;
    /* left: -7.8%; */
}

.btn_slogan {
    text-align: center;
    z-index: 10;
    height: 38px;
    justify-content: center;
    bottom: 35%;
}

.btn_slogan a {
    display: inline-block;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 9px 10px 9px;
    width: 129px;
    height: 38px;
    margin: 30px 0 0 0;
    line-height: 15px;
}

.btn_slogan a:hover {
    background: #fff;
    color: #87C9E2;
    text-decoration: underline;
    text-underline-position: under;
}

.main_visual_set {
    justify-content: flex-end;
    height: 100%;
    display: flex;
}

.main_visual_set .set01 {
    transform: translate(50%, 10%);
}

.main_visual_set .set02 {
    transform: translate(30%, 20%);
}


.main_visual_set .set03 {
    transform: translate(40%, 10%);
}



/* Main_fadeIn */
.main_visual_slogan {
    animation: fadein 2s;
}

.btn_slogan {
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* Main_motion */
.set01 {
    animation: motion 1s linear 0.5s infinite alternate;
    margin-top: 0;
}

.set02 {
    animation: motion 1s linear 1s infinite alternate;
    margin-top: 0;
}

.set03 {
    animation: motion 1s linear 1.5s infinite alternate;
    margin-top: 0;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
}



/* top prom banner*/



/* reward renewer*/
.new_reward_wrap {
    background: #1E3932;
    color: #fff;
}

.new_reward_inner {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

.new_reward_logo {
    float: left;
    width: 16.3%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.new_reward_conts {
    border-bottom: 1px solid #4B615B;
    margin: 0 0 20px 0;
    display: flex;
    height: 108px;
    width: 793px;
    gap: 50px;
}

.info_conts h2 {
    line-height: 36.4px;
}

.info_conts strong {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.info_conts p {
    line-height: 23.8px;
}

.info_conts p strong {
    font-size: 17px;
    color: #fff;
    letter-spacing: 0.5px;
}

.btn_sign_group,
.btn_egift {
    z-index: 10;
    justify-content: center;
    text-align: center;
}

.btn_sign_group .join {
    display: inline-block;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 11px 10px 11px 10px;
    width: 93px;
    height: 38px;
    background-color: #00704a;
    line-height: 13px;
}

.btn_sign_group .login {
    display: inline-block;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 11px 10px 11px 10px;
    width: 80px;
    height: 38px;
    line-height: 13px;
}

.btn_sign_group .join:hover,
.btn_sign_group .login:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.gift_cont {
    font-size: 14px;
    display: flex;
    gap: 30px;
}

.gift_cont_txt p {
    line-height: 19.6px;
}

.gift_cont_txt p strong {
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}

.btn_egift a {
    display: inline-block;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 11px 10px 11px 10px;
    width: 179px;
    height: 34px;
    text-align: center;
    line-height: 8px;
}

.btn_egift a:hover {
    text-decoration: underline;
    text-underline-position: under;
}



/* season promotion banner */
.main_bean_wrap {
    position: relative;
    width: 100%;
    height: 500px;
    background: url("../img/starbucks/m03.back.jpg");
    color: #fff;
}

.main_bean_inner {
    margin: 0 auto;
    position: relative;
    height: 400px;
}

.bean_img_box {
    position: absolute;
    /* float: left;
    width: 16.3%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center; */
}

.btn_bean_detail a {
    display: block;
    font-size: 15px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 11px 16px 11px 16px;
    width: 125px;
    height: 38px;
    margin: 30px 0 0 0;
    line-height: 12px;
}

.btn_bean_detail a:hover {
    background: #fff;
    color: #333;
    text-decoration: underline;
    text-underline-position: under;
}




/* main promotion banner */
.reserve_wrap {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../img/starbucks/m04_back1.jpg");
}

.reserve_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.reserve_wrap .reserve_title {
    padding-top: 115px;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.reserve_wrap .reserve_visual {
    display: block;
    position: absolute;
    right: 0%;
    bottom: 0;
}

.reserve_wrap .reserve_visual::before {
    content: url("../img/starbucks/m04_back3.png");
    position: absolute;
    left: 0;
    bottom: -0.5%;
}

.reserve_wrap .reserve_visual::after {
    content: url("../img/starbucks/m04_back4.png");
    position: absolute;
    right: 0;
    bottom: -0.5%;
}

.reserve_wrap .reserve_detail_btn_wrap {
    position: relative;
    z-index: 10;
    max-width: 1080px;
    margin-top: 39px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 254px;
    box-sizing: border-box;
}

.reserve_wrap .reserve_detail_btn a {
    display: block;
    font-size: 15px;
    border: 2px solid #B9813E;
    color: #B9813E;
    text-align: center;
    border-radius: 5px;
    width: 125px;
    height: 38px;
    position: absolute;
    line-height: 34px;
}

.reserve_wrap .reserve_detail_btn a:hover {
    color: #fff;
    background: #B9813E;
    text-decoration: underline;
    text-underline-position: under;
}



/*  main reserve banner */
.favWrap {
    position: relative;
    width: 100%;
    height: 800px;
    background: url("../img/starbucks/m05.back.jpg");
    color: #fff;
}

.favWrap .wrap_inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.fav_prod_txt01 {
    background: url("../img/starbucks/m05.txt1.png");
    height: 204px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    top: 120px;
    width: 258px;
    z-index: 7;
}

.fav_prod_txt02 {
    background: url("../img/starbucks/m05.txt2.png") no-repeat;
    height: 156px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    top: 370px;
    width: 362px;
    z-index: 7;
}

.fav_img {
    background: url("../img/starbucks/m05.Img.png") no-repeat center;
    top: 100px;
    right: -10px;
    width: 672px;
    height: 458px;
}


.btn_fav_prod a {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 11px 16px 11px 16px;
    width: 125px;
    height: 38px;

    display: block;
    font-size: 15px;
    text-align: center;
    margin: 30px 0 0 0;
    line-height: 13px;

    position: absolute;
    left: 328px;
    top: 570px;
    z-index: 7;
}

.btn_fav_prod a:hover {
    background: #fff;
    color: #333;
    text-decoration: underline;
    text-underline-position: under;
}




/* main store */
.reserve_magazine_wrap {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../img/starbucks/m06_back.png") no-repeat 50% 100%;
}

.reserve_magazine_wrap .reserve_inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.reserve_magazine_wrap .reserve_title {
    position: relative;
    z-index: 10;
    padding-top: 135px;
    padding-left: 55px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.reserve_magazine_wrap .reserve_visual {
    display: block;
    position: absolute;
    bottom: auto;
    top: 0;
    right: 50%;
    margin-right: -483px;
}

.reserve_magazine_wrap .reserve_detail-btn_wrap {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 1100px;
    margin: 10px 80px auto auto;
    box-sizing: border-box;
}

.reserve_magazine_wrap .reserve_detail_btn a {
    display: block;
    font-size: 15px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    padding: 11px 16px 11px 16px;
    width: 125px;
    height: 38px;
    margin: 30px 0 0 0;
    line-height: 13px;
}

.reserve_magazine_wrap .reserve_detail_btn a:hover {
    background: #333;
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
}




/* store */
.storeWrap {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../img/starbucks/m07_back.jpg");
    overflow: hidden;
}

.store_exp_img01 {
    background: url("../img/starbucks/m07.img1.png") no-repeat;
    height: 228px;
    left: 390px;
    position: absolute;
    top: 149px;
    width: 228px;
    z-index: 5;
}

.store_exp_img02 {
    background: url("../img/starbucks/m07.img2.png") no-repeat;
    height: 312px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 366px;
    z-index: 4;
}

.store_exp_img03 {
    background: url("../img/starbucks/m07.img3.png") no-repeat;
    height: 142px;
    left: 520px;
    position: absolute;
    top: -60px;
    width: 343px;
    z-index: 4;
}

.store_exp_img04 {
    background: url("../img/starbucks/m07.img4.png") no-repeat;
    height: 102px;
    position: absolute;
    right: 30px;
    top: 298px;
    width: 230px;
    z-index: 4;
}


.store_txt01 {
    background: url("../img/starbucks/m07_txt1.png") no-repeat;
    height: 54px;
    position: absolute;
    overflow: hidden;
    text-indent: -20000px;
    top: 100px;
    width: 385px;
    z-index: 4;
}

.store_txt02 {
    background: url("../img/starbucks/m07_txt2.png") no-repeat;
    height: 61px;
    position: absolute;
    right: 168px;
    overflow: hidden;
    text-indent: -20000px;
    top: 168px;
    width: 366px;
    z-index: 4;
}

.store_btn a {
    border: 2px solid #333;
    border-radius: 5px;
    width: 125px;
    height: 38px;
    line-height: 13px;

    position: absolute;
    z-index: 4;
    right: 402px;
    top: 258px;

    display: block;
    font-size: 15px;
    text-align: center;
    color: #333;
    margin: 30px 0 0 0;
    padding: 11px 16px 11px 16px;
}

.store_btn a:hover {
    background: #333;
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
}




/* Footer */
.footer {
    background: #2C2A29;
    color: #fff;
    clear: both;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.footer_wrap {
    background: url("../img/starbucks/footer_logo.png") right 8px no-repeat;
    display: inline-block;
    left: 50%;
    position: relative;
}