@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300;500;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
}



/* header */

.header {
    position: absolute;
    line-height: 100px;
    z-index: 1;
    border-bottom: 1px solid #fff;
}

.header .container {
    width: 100%;
    /* width 100%로 해도 라인줄이 꽉안참 */
    margin: 0 auto;
    color: #fff;
}

.header .container nav {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    border-top: 1px solid #fff;
}

.header .menu1st h1 {
    width: 110px;
    margin: 10px auto;
    display: flex;
    margin-top: 20px;
}

.header .container .service {
    display: flex;
    gap: 15px;
    font-size: 28px;
    justify-content: flex-end;
    line-height: 1.5;
}

.header .menu2nd nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    line-height: 50px;
}

.header .container .mainMenu {
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: 200;
}




/* Main */

.main_visual .main_slider figure {
    height: 100vh;
}




/* Section01 */

.Mijas {
    display: flex;
    padding: 100px 0;
    margin: 0 auto;
    width: 1200px;
}

.bxSlider {
    float: left;
}

.MijasRight {
    margin: 0 50px 0 50px;
}

.MijasRight h2 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.MijasRight p {
    font-size: 12px;
    font-weight: 300;
    line-height: 2.5;
    text-align: center;
    color: #404040;
    letter-spacing: 0.5px;
}

.MijasImg1 {
    display: flex;
    padding: 0 150px 5px 150px;
    gap: 5px;
}

.MijasImg2 {
    display: flex;
    padding: 0 150px 50px 150px;
    gap: 5px;
}




/* Section02 */

.Palma {
    display: flex;
    padding: 100px 0;
    margin: 0 auto;
    width: 1200px
}

.bxSlider {
    float: left;
}

.PalmaLeft {
    margin: 0 50px 0 50px;
}

.PalmaLeft h2 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.PalmaLeft p {
    font-size: 12px;
    font-weight: 300;
    line-height: 2.5;
    text-align: center;
    color: #404040;
    letter-spacing: 0.5px;
}

.PalmaImg1 {
    display: flex;
    padding: 0 150px 5px 150px;
    gap: 5px;
}

.PalmaImg2 {
    display: flex;
    padding: 0 150px 0 150px;
    gap: 5px;
}




/* Notice */

.notice {
    font-weight: 300;
    padding: 100px 0 100px 0;
    letter-spacing: 0.5px;
}

.notice strong {
    color: #404040;
    font-weight: 700;
}

.notice p {
    font-size: 13px;
}

.noticeheader {
    margin-top: 30px;
}

.noticeword {
    margin-top: 30px;
    margin-bottom: 30px;
}

.line1 {
    border-top: 1px solid #e5e7eb;
    margin-bottom: 40px;
}

.line2 {
    border-top: 1px solid #e5e7eb;
    margin-top: 40px;
}




/* Section03 */

.tap_menu {
    display: flex;
    text-align: center;
    font-size: 14px;
}

.tap_menu>li {
    flex: 1;
}

.tap_menu>li>a {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    background: #f7f7f7;
}

.tab_menu>li.on a {
    background: #333;
    color: #f00;
}

.tab_menu>li~li {
    border-left: 1px solid #fff;
}

.tab_content {
    position: relative;
}

.tab_content>li {
    position: absolute;
    inset: 0 0 0 0;
    visibility: hidden;
    padding: 10px 0;
}

.tab_content>li.on {
    visibility: visible;
}

/* 전체적으로 적용x */


.tap {
    width: 1200px;
    padding: 0 100px 0 100px;
    margin: 0 auto;
}




/* Footer */

.footer {
    margin: 0 auto;
    background: #a1936e;
    color: #fff;
    text-align: center;
}

.footer .inner {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1.5px;
    padding: 50px 0 30px 0;
}

.footer img {
    width: 80px;
}

.footer .info {
    padding: 20px 0;
}

.footer span {
    font-weight: 600;
}