/* header */


.header {
    line-height: 100px;
}

.header .container {
    width: 1800px;
    margin: 0 auto;
}

.header h1 img {
    width: 220px;
}

.header .container nav {
    display: flex;
    justify-content: space-between;
}

.header .container .menu_1,
.header .container .menu_2 {
    display: flex;
    gap: 40px;
    font-size: 13px;
}

.header nav>ul>li {
    position: relative;
}

.header nav>ul>li:hover {
    background: #fff;
    color: skyblue;
}

#searchForm {
    display: flex;
    font-size: 11px;
}

#searchForm input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #ababab;
    padding: 5px 0;
}

#searchForm button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}





/* 1page */


.swiper {
    width: 1800px;
    height: 800px;
}





/* 2page */


.main_visual02 {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}

.main_visual02 h1 {
    display: inline-block;
    font-size: 12px;
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

.main_visual02 .main01 {
    display: flex;
    width: 1200px;
    gap: 30px;
    margin: 0 auto;
    padding: 100px 0;
}

.main_visual02 .main01 img {
    width: 1200px;
    height: 400px;
}

.main_visual02 figure .box {
    overflow: hidden;
}

.main_visual02 figure img {
    transition: 1.5s ease;
    opacity: 0.8;
}

.main_visual02 figure:hover img {
    transform: scale(1.2);
    opacity: 1;
}





/* 3page */


.main_visual03 {
    position: relative;
    height: 450px;
    background: url(../img/UR_c1.jpg);
    background-attachment: fixed;
}

.main_visual03 .main02 {
    text-align: center;
    text-shadow: 1px 1px 2px #333;
    color: #fff;
}

.main_visual03 h2 {
    position: absolute;
    font-size: 40px;
    left: 20%;
    top: 40%;
}

.main_visual03 p {
    position: absolute;
    font-size: 20px;
    left: 22%;
    top: 52%;
    text-decoration: underline;
    text-underline-position: under;
}





/* 4page */


.main_visual04 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
}

.main_visual04 .container {
    display: flex;
    gap: 100px;
    margin: 0 auto;
}

.main_visual04 .left video {
    height: 700px;
}

.main_visual04 .right {
    height: 700px;
    width: 700px;
}

.main_visual04 .right h1 {
    text-align: center;
    padding-top: 90px;
}

.main_visual04 .main03 {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #808080;
    line-height: 2;
}





/* 5page */


.main_visual05 {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.main_visual05 h1 {
    display: inline-block;
    font-size: 12px;
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

.main_visual05 .prod_list {
    display: flex;
    width: 1600px;
    gap: 30px;
    margin: 0 auto;
    padding: 80px 0;
}

.main_visual05 .prod_list h2 {
    line-height: 2;
}

.prod_list li {
    position: relative;
}

.prod_list li:hover .caption {
    opacity: 1;
    transform: translateY(-330px);
}

.prod_list .caption {
    position: absolute;
    top: 300px;
    padding-top: 15px;
    left: 15px;
    transition: 1s ease;
    opacity: 0;
    font-size: 10px;
    color: #808080;
    letter-spacing: 1px;
}

.prod_list img {
    top: 30px;
    transition: 1s ease;
}

.prod_list img:hover {
    transform: translateY(-30px);
}





/* 6page */


.main_visual06 {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;

}

.main_visual06 h1 {
    display: inline-block;
    font-size: 12px;
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

.main_visual06 .main_slider {
    display: flex;
    margin: 0 auto;
    width: 1600px;
    padding: 80px 0;
}







/* footer */


#footer {
    width: 1600px;
    margin: 0 auto;
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #ababab;
    margin-bottom: 60px;
}

#footer .inner {
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

#footer .logo {
    position: absolute;
    width: 115px;
    top: -55px;
    left: 800px;
    transform: translateX(-50%);
    background: #fff;
}

#footer .logo img {
    padding: 0 40px;
}






#footer .left .info {
    padding-top: 30px;
}

#footer .left .info a {
    font-size: 13px;
    padding-right: 15px;
}

#footer .left .ceo {
    font-size: 11px;
    line-height: 2;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer .left .ceo span {
    color: #808080;
    font-weight: 300;
}

#footer .left .service {
    padding-bottom: 30px;
}

#footer .left .service a {
    font-size: 13px;
    text-decoration: underline;
    text-underline-position: under;
    padding-right: 15px;
}




#footer .customer,
#footer .head {
    font-size: 13px;
    line-height: 1;
}

#footer .right .info {
    padding-top: 30px;
    padding-left: 550px;
}

#footer .customer {
    padding-bottom: 8px;
}

#footer .head {
    padding-top: 20px;
    padding-bottom: 8px;
}

#footer .tel,
#footer .address {
    font-size: 11px;
    line-height: 2;
    letter-spacing: 1px;
}

#footer .tel span,
#footer .address span {
    color: #808080;
    font-weight: 300;
}

#footer .copyright {
    font-size: 11px;
    padding-top: 18px;
    padding-bottom: 30px;
}




#footer .left {
    float: left;
}

#footer .right {
    float: right;
}








.Top {
    position: fixed;
    inset: auto 15px 20px auto;
}

.Top i {
    padding: 10px 0 0 0;
    background: transparent;
    color: #ababab;
    font-size: 30px;
    cursor: pointer;
}


.Top i:hover {
    color: skyblue;
}